services:
  core:
    container_name: core
    image: scafoldr/core
    pull_policy: never
    build:
      context: ./core
      target: app_dev
    ports:
      - "8000:8000"
    volumes:
      - ./core:/srv/www
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_API_MODEL=${OPENAI_API_MODEL}
    restart: unless-stopped

  web:
    container_name: web
    image: scafoldr/web
    pull_policy: never
    build:
      context: ./web
      target: app_dev
    volumes:
      - ./web:/srv/www
    environment:
      - CORE_API_BASE_URL=${CORE_API_BASE_URL}
    restart: unless-stopped
    
  proxy:
    container_name: proxy
    image: scafoldr/proxy
    pull_policy: never
    build:
      context: ./proxy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./proxy/Caddyfile:/etc/caddy/Caddyfile
      - ./proxy/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - DOMAIN=${DOMAIN}
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
