services:
  core:
    container_name: core
    image: scafoldr/core
    pull_policy: never
    build:
      context: ./core
      target: app_dev
    ports:
      # Core API will be publicly exposed on port 8000 only for local environment
      - "8000:8000"
    volumes:
      - ./core:/srv/www
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_API_MODEL=${OPENAI_API_MODEL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB=${REDIS_DB}
    depends_on:
      - redis
    restart: unless-stopped

  web:
    container_name: web
    image: scafoldr/web
    pull_policy: never
    build:
      context: ./web
      target: app_dev
    volumes:
      - ./web:/srv/www
    environment:
      - CORE_API_BASE_URL=${CORE_API_BASE_URL}
      - REST_API_BASE_URL=${REST_API_BASE_URL}
      - GITHUB_REDIRECT_URI=${GITHUB_REDIRECT_URI}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
    restart: unless-stopped

  proxy:
    container_name: proxy
    image: scafoldr/proxy
    pull_policy: never
    build:
      context: ./proxy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./proxy/Caddyfile:/etc/caddy/Caddyfile
      - ./proxy/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - DOMAIN=${DOMAIN}
    restart: unless-stopped

  redis:
    container_name: redis
    image: scafoldr/redis
    build:
      context: ./redis
    ports:
      # Redis will be exposed on port 6379 only for local environment
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  rest:
    container_name: rest
    image: scafoldr/rest
    pull_policy: never
    build:
      context: ./rest
      target: dev
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=none
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      - SPRING_DEVTOOLS_LIVERELOAD_ENABLED=true
      - SPRING_DOCKER_COMPOSE_ENABLED=false
      - SPRING_PROFILES_ACTIVE=dev
      - MAVEN_OPTS=-Dmaven.repo.local=/root/.m2/repository
      - JWT_SECRET=${JWT_SECRET}
      - EMAIL_SENDER_USERNAME=${EMAIL_SENDER_USERNAME}
      - EMAIL_SENDER_PASSWORD=${EMAIL_SENDER_PASSWORD}
      # PostgreSQL environment variables
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./rest/src:/app/src
      - ~/.m2:/root/.m2
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    command: ["/docker-entrypoint.sh"]

  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
  redis_data:
  postgres_data:
