import { pgTable, {{ drizzle_columns | map('drizzle_type') | unique | join(', ') }}, primaryKey } from 'drizzle-orm/pg-core';

export const {{ entity_name }} = pgTable('{{ table_name }}', {
{% for column in drizzle_columns %}
  {{ column.name }}: {{ column.drizzle_type }}('{{ column.name }}'{% if column.length %}, { length: {{ column.length }} }{% endif %}){% if column.primary_key %}.primaryKey(){% endif %}{% if column.not_null %}.notNull(){% endif %}{% if column.unique %}.unique(){% endif %}{% if column.default %}.default({{ column.default }}){% endif %}{% if column.name == 'created_at' or column.name == 'updated_at' %}.defaultNow(){% endif %},
{% endfor %}
});

// Types
export type {{ EntityName }} = typeof {{ entity_name }}.$inferSelect;
export type New{{ EntityName }} = typeof {{ entity_name }}.$inferInsert;