package com.example.dtos;

import com.example.models.{{ ClassName }};

{% for imp in imports %}import {{ imp }};
{% endfor %}

public record {{ ClassName }}DTO({%- for field in fields %}
    {{ field.type }} {{ field.name }}{{ "," if not loop.last }}
    {% endfor %}
) implements BaseDTO {
    public static {{ ClassName }}DTO from({{ ClassName }} {{ model_var }}) {
        return new {{ ClassName }}DTO({%- for field in fields %}
            {{ model_var }}.get{{ field.name[0].upper() + field.name[1:] }}(){{ "," if not loop.last }}
            {% endfor %}
        );
    }
}
