langchain-openai~=0.3.14
langchain_core
InquirerPy~=0.3.4
typer~=0.15.2
dotenv~=0.9.9
pydantic~=2.11.3
fastapi~=0.115.12
uvicorn
pydbml~=1.2.0
inflect~=7.5.0
jinja2~=3.1.6

python-dotenv~=1.1.0
openai~=1.76.0
tensorzero~=2025.6.2
