import { {{ entityNamePlural }} } from '@/drizzle/schema';
import { db } from '@/lib/db';
import { createRESTAPI } from '@/lib/rest-generator';

const api = createRESTAPI({{ entityNamePlural }}, db, '{{ entityNamePlural }}');
export const { GET, POST, PUT, DELETE } = api;