package com.example.services;

import com.example.models.{{ ClassName }};
import com.example.repositories.{{ ClassName }}Repository;
import org.springframework.stereotype.Service;

@Service
public class {{ ClassName }}Service extends BaseService<{{ ClassName }}Entity> {
    public {{ ClassName }}Service({{ ClassName }}Repository repository) {
        super(repository);
    }
}