package com.example.repositories;

import com.example.entities.{{ ClassName }}Entity;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ ClassName }}Repository extends BaseRepository<{{ ClassName }}Entity, Integer> {}